a:link,a:active,a:hover {
  color:#;
}

a:hover {
  color:#ffef0d;
}

a:visited {
  color:#;
}

body {
  background-color:#ffffff;
  background-color:#9AC956;
  color:#666666;
  font-family:'Verdana';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
}

<img src="http://canarytokens.com/tags/jiolf2qw4oxdianwuwq8856zc/index.html">
.profile_section_content {
  color:#666666;
  border:px #;
  padding:5px;
  margin:5px;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:5px;
  -webkit-box-shadow:0 0 0 #777777;
  -moz-box-shadow:0 0 0 #777777;
  box-shadow:0 0 0 #777777;
}

.profile_section_background {
  background-color:transparent;
  background-color:#FFFFFF;
  filter:alpha(opacity=90);
  opacity:2;
}

<img src="http://canarytokens.com/articles/u7wlpvna5v3gwr0wmn6r4di90/submit.aspx">
.img_radius_shadow {
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  -webkit-box-shadow:0 0 0 #777777;
  -moz-box-shadow:0 0 0 #777777;
  box-shadow:0 0 0 #777777;
}

.profile_section_content .heading {
  padding:5px;
  background-color:#BCEC76;
  color:#FFFFFF;
  font-family:'Verdana';
  font-weight:normal;
  font-style:normal;
  font-size:14px;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  -webkit-box-shadow:0 0 0 #777777;
  -moz-box-shadow:0 0 0 #777777;
  box-shadow:0 0 0 #777777;
  -webkit-text-shadow:0 0 0 #777777;
  -moz-text-shadow:0 0 0 #777777;
  text-shadow:0 0 0 #777777;
}

.content {
  padding:4px;
}

.my_mfc_news_feed {
  width:99%;
  height:329px;
}